In [47]:
# How to find version
import pandas as pd
print(pd.__version__)

1.3.5

In [48]:
# another way
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.9.12.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.3.5
numpy            : 1.21.4
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 61.2.0
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.0.3
IPython          : 7.30.1
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.5.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : 10.0.0
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [49]:
# Make a data frame
df = pd.DataFrame({'col1': [1, 2,3,4], 'col2': [0.1, 0.2,.3,.4]}, index=['a', 'b', 'c', 'd'])
df

   col1  col2
a     1   0.1
b     2   0.2
c     3   0.3
d     4   0.4

In [50]:
# numpy array
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6

In [51]:
#Numpy array dataframe
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.456015,0.785787,0.268098,0.781376,0.757965,0.906401,0.908706,0.196789
1,0.561973,0.070728,0.379091,0.509600,0.893300,0.426447,0.439256,0.468730
2,0.038870,0.029884,0.684323,0.969870,0.775678,0.390925,0.707248,0.555517
3,0.142234,0.854566,0.337911,0.283542,0.203517,0.830309,0.422738,0.259979

In [52]:
# How to rename columns
df.rename(columns={'col1':'col_a','col2':'col_b'},inplace=True)
df

   col_a  col_b
a      1    0.1
b      2    0.2
c      3    0.3
d      4    0.4

In [53]:
# How to replace character /string
df.columns = df.columns.str.replace('_','-')
df

   col-a  col-b
a      1    0.1
b      2    0.2
c      3    0.3
d      4    0.4

In [54]:
# adding prefix to column names
df = df.add_prefix('pre_')
df

   pre_col-a  pre_col-b
a          1        0.1
b          2        0.2
c          3        0.3
d          4        0.4

In [57]:
# Using template data
import seaborn as sns
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa