In [1]:
# How to find version
import pandas as pd
print(pd.__version__)

1.3.5

In [ ]:
# another way
pd.show_versions()

In [6]:
# Make a data frame
df = pd.DataFrame({'col1': [1, 2,3,4], 'col2': [0.1, 0.2,.3,.4]}, index=['a', 'b', 'c', 'd'])
df

   col1  col2
a     1   0.1
b     2   0.2
c     3   0.3
d     4   0.4

In [9]:
# numpy array
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6

In [14]:
#Numpy array dataframe
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.880708,0.613307,0.929837,0.606958,0.303053,0.733800,0.373815,0.115521
1,0.093413,0.648257,0.300014,0.728684,0.493773,0.056051,0.650375,0.044596
2,0.274426,0.430418,0.770928,0.412878,0.953783,0.679734,0.589102,0.725563
3,0.406579,0.116904,0.712803,0.014657,0.019745,0.855641,0.433138,0.841868

In [18]:
# How to rename columns
df.rename(columns={'col1':'col_a','col2':'col_b'},inplace=True)
df

   col_a  col_b
a      1    0.1
b      2    0.2
c      3    0.3
d      4    0.4